.hero-banner {
    height: 100vh;
    margin-top: 0;
    background: url('https://wallpapers.com/images/hd/assorted-cakes-and-cookies-dessert-s3nugcazto0oqwru.jpg')
                center/cover no-repeat;
    position: relative;
}
.hero-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0)
    );
    z-index: 1;
}

body {
        background-color: #e0cfbe;
        }
header {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 10;
}
footer {
    background-color: transparent;
    color: #333;
}
.navbar-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    align-items: center;
    display: flex;
    height: 100px;


    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(8px);
    padding: 1rem 0;


    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.navbar-overlay a {
    color: #2b2b2b;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none;

}

.navbar-overlay a:hover {
    color: #000;
}
.navbar-overlay nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
}
.quick-access-section {
    margin-top: 6rem;
    margin-bottom: 4rem;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 2rem;
    background-color: #444a45;
    backdrop-filter: blur(6px);

}

.quick-access-title {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 2rem;
    color: #e0cfbe;
}
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

body, p, a, button {
    font-family: 'Inter', sans-serif;
}

.btn-dark {
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.btn-dark:hover {
    transform: translateY(-2px);
    background-color: #000;
}

.brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    margin-right: 2rem;
}
main.container {
    background-color: transparent;
}

html, body {
    background-color: #e0cfbe !important;
}



