{% extends "base.html" %}

{% block title %}Desserts{% endblock %}

{% block content %}
<h1>Desserts</h1>

<ul>
    {% for dessert in desserts %}
        <li>
            <a href="{% url 'dessert_detail' dessert.id %}" class="btn btn-primary btn-sm">
                {{ dessert.name }} - {{ dessert.price }} lv
            </a>
        </li>
    {% empty %}
        <li>No desserts available.</li>
    {% endfor %}

    <a href="{% url 'dessert_create' %}" class="btn btn-primary btn-sm">Add Dessert</a>
</ul>
{% endblock %}