{% extends "base.html" %}

{% block title %}Dessert Form{% endblock %}

{% block content %}
<div class="container py-5" style="padding-top: 7rem;">

    <h1 class="text-center mb-4">Dessert Form</h1>

    <div class="dessert-form-box p-4 rounded shadow mx-auto">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}


            <div class="mb-3">
                <label class="form-label">Dessert Name:</label>
                {{ form.name }}
            </div>


            <div class="mb-3">
                <label class="form-label">Dessert Description:</label>
                {{ form.description }}
            </div>


            <div class="mb-3">
                <label class="form-label">Dessert Price (€):</label>
                {{ form.price }}
            </div>


            <div class="mb-3">
                <label class="form-label">Dessert Image:</label>
                {{ form.image }}
            </div>


            <div class="mb-3 form-check">
                {{ form.is_available }}
                <label class="form-check-label">Available</label>
            </div>


            <div class="mb-3">
                <label class="form-label">Dessert Category:</label>
                {{ form.category }}
            </div>


            <div class="mb-3">
                <label class="form-label">Ingredients Used:</label>
                {{ form.ingredients }}
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-green btn-lg px-5">Save</button>
            </div>

        </form>

    </div>

</div>
{% endblock %}